* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font: "Roboto", sans-serif;
}

img {
  width: 75%;
}

body {
  background-color: white;
}

.cta{
    margin-top: 1rem;
    width: 13rem;
    height: 2.5rem;
    background-color: red;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: 700;
    transition: .5s;
}

.cta:hover{
    color: black;
    cursor: pointer;
}

/*Header*/
header {
  text-align: center;
}

header h1,
.cta-container h1 {
  color: red;
  margin-top: 0.5rem;
}

header h1 span {
  color: black;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

nav ul li {
    font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: .5s;
}

nav ul li:hover {
  color: rgb(242, 79, 79);
}

/*Header*/

/*main*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.cta-container p {
  font-weight: 700;
  margin-top: 1rem;
}

.cta-container h1 {
    margin-top: 0;
    letter-spacing: 0.1rem;
}

.cta-container {
  text-align: center;
}

.infos{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-list{
    margin-top: 1.5rem;
}
#info-list span{
    background-color: black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}
#info-list li{
   display: flex;
   padding: 1rem 0 0 0rem;
}

input{
    margin-top: 1rem;
    width: 13rem;
    height: 2.5rem;
    border: none;
    border-radius: 7px;
    background-color: #e7e7e7;
    padding-left: 1.3rem;
}


#feedbackBox{
    width: 95%;
    margin-top: 1rem;
}

.feedback{
    display: flex;
    background-color: #e7e7e7;
    border-radius: 7px;
    padding: 1rem;
    margin-top: 1rem;
}

.profilePicture{
    background-color: red;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 3rem;
}

.profileInfo{
    flex: 1;
}

.profileInfo h3{
    margin-top: 0.6rem;
}

/*main*/


/*Footer*/

footer{
    background-color: black;
    color: white;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footerLogo{
    text-align: center;
}

.footerLogo h1{
  padding-bottom: 0.6rem;
}

.footer-info{
    margin-top: 1.5rem;
    width: 10rem;
    margin-left: 2rem;
}

.footer-info h3{
    padding-bottom: 0.6rem;
}

.socials{
display: flex;
gap: 2rem;
}
.socials img{
    width: 3rem;

}
/*Footer*/

@media screen and (min-width: 1024px){

  .cta{
    width: 18rem;
  }

  .cta-call{
    width: 15rem;
  }

  main{
    align-items: flex-start;
  }

  img{
    width: 40%;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9rem;
  }

  .cta-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: start;

  }

  .cta-container p {
    text-align: left;
    font-size: 1.2rem;
  }

  .cta-container h1{
    letter-spacing: 0;
    font-size: 3rem;
  }

  .infos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row-reverse;
    gap: 19rem;
  }

  

  #input-box{
    margin-left: 8.2rem;
    margin-top: 2rem;
  }

  #input-box input{
    margin-right: .8rem;
  }

  #input-box p{
    font-weight: 700;
    font-size: 1.2rem;
  }

  #feedbackBox{
    display: flex;
    width: 95%;
    margin: 2rem auto;
    gap: 1rem;

  }

  .feedback{
    width: 50rem;
  }

  footer{
    display: flex;
   
    justify-content: center;
    gap: 4rem;
  }

  .footerLogo{
    text-align: left;
}
.footer-info{
  width: 12rem;
}

.footer-info h3{
  padding-bottom: 0.6rem;
}

.socials img{
  width: 2rem;
}

}